@media(min-width:481px){

    .blocco{
        width: calc(100% / 2 - 2px);
        display: inline-block;
        margin-left: -4px;
        margin-bottom: -3px;
    }
}
@media(min-width:1201px){

    .blog{
        width: 1178px;
    }
    .blocco{
        width:clac(100% / 3 -2px);
    }
}